<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Authentification" />
  <meta name="author" content="nassim sebbagh" />

<title>Authentification</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" ></link>
</head>
<body>

 <div class="container">

                  

<div class="row">

    <div class="col-sm-4">
      <h3></h3>
    </div>
     </div>
     <div class="row">

    <div class="col-sm-4">
      <h3></h3>
    </div>
     </div>
     <div class="row">

    <div class="col-sm-4">
      <h3></h3>
    </div>
     </div>
     <div class="row">

    <div class="col-sm-4">
      <h3></h3>
    </div>
     </div>
</div>


 <div class="spacer col-md-4 col-md-offset-4 col-xs-12 ">

 



  <div class="panel panel-primary">

  <div class="panel-heading">Problème d'autorisation</div>
  <div class="panel-body">
  
   <div class="container">
   
   <div style="color:red" >
   Vous n'avez pas le droit d'accèder à cette ressource

  </div>

         <div>

    <a  th:href="@{/}"  class="btn btn-link" role="button">Accueil</a>

  </div>
        
   <div>
  <div class="row">

    <div class="col-sm-4">
      <h3></h3>
    </div>
     </div>
     <div class="row">

    <div class="col-sm-4">
      <h3></h3>
    </div>
     </div>
  </div>
  <div>
 <!-- // <a th:href="@{/compteoubliee}">Informations de compte oubliées ?</a> -->
  </div> 
  
  </form>
  <div class="row">

    <div class="col-sm-4">
      <h3></h3>
    </div>
     </div>
    

 

    
     
     
<div>
<!--   <b>Vous n’avez pas de compte ?</b>
  <a th:href="@{/register}">Inscription</a> -->
  </div>
  </div>
   </div>
  </div> 
  

  
</body>
</html>